      <section class="content">
        <div class="row">
        <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">課程資訊</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="box-group" id="accordion">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" class="">
                        3171 人文：宗教概論 / Introduction to Religion
                      </a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="box-body">
                      通識課程不同於專業課程，實乃著重引導學生主動關懷、探索與實踐人類的終極價值與智慧；同時通識課程所提供的知識，不是專業課程的淺薄化，而是具有厚實感的基礎知識。本校根據創校傳統、校訓與辦學理念訂定通識教育定四大基本素養：求真素養、篤信素養、力行素養與宏通素養，以具體落實本校通識教育之理想。希望本校學生能發揮自主學習精神，在通識課程老師的引導下，逐漸培養其通識教育基本素養，並期待能終身學習。各種基本素養並訂有具體的學習成效指標，以做教學與學習成效之自我檢證的具體指標，分述如下：求真素養（自然領域）：1.學習自然科學的方法或哲學以探索物理與生命世界的微妙，2.發揮就事論事的精神，3.能參與科學議題相關的公共事務。篤信素養（人文領域）：1.學習人文精神以探索內在自我與領會人類文明的深層價值，2.發展自律精神，3.能運用理性進行道德推理。力行素養（社會領域）：1.運用社會科學的方法或哲學以激發學生的傾聽與溝通能力，2.承認與尊重多元差，3.實踐民主審議的精神。宏通素養（跨領域）：1.追求人類的整體價值，2.融通求真、篤信、力行等素養於個人生命之中。各領域的課程對於學習成效指標可以跨選，不必拘泥。
                    </div>
                  </div>
                </div>
                <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed" aria-expanded="false">
                        時間地點 / 授課老師
                      </a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                      二/3,4[C220] / 趙星光 老師
                    </div>
                  </div>
                </div>
                <div class="panel box box-danger">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed" aria-expanded="false">
                        選課人數狀態
                      </a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                      上限 60 現選 63 餘額 -3
                    </div>
                  </div>
                </div>
                <div class="panel box box-warning">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed" aria-expanded="false">
                        備註
                      </a>
                    </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                      通識課程:人文領域 / 共必修1-3  教師自主加選
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-6">
              <!-- USERS LIST -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">修過這門課的同學</h3>
                  <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                    <li>
                      <img src="dist/img/user1-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander Pierce</a>
                      <span class="users-list-date">Today</span>
                    </li>
                    <li>
                      <img src="dist/img/user8-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Norman</a>
                      <span class="users-list-date">Yesterday</span>
                    </li>
                    <li>
                      <img src="dist/img/user7-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Jane</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="dist/img/user6-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">John</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="dist/img/user2-160x160.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander</a>
                      <span class="users-list-date">13 Jan</span>
                    </li>
                    <li>
                      <img src="dist/img/user5-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Sarah</a>
                      <span class="users-list-date">14 Jan</span>
                    </li>
                    <li>
                      <img src="dist/img/user4-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nora</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="dist/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nadia</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="javascript::" class="uppercase">看全部</a>
                </div>
                <!-- /.box-footer -->
              </div>
              <!--/.box -->
            </div>
            <!-- /.col -->
          </div>
        <!-- /.row -->

        
      <div class="row">
        <div class="col-md-12">
          <!-- Box Comment -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">評價 / 討論</h3>
              <!-- /.user-block -->
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <h3><strong>趙星光 老師</strong></h3>
                      <h3>總評價4.5 <input type="hidden" class="rating" data-filled="fa fa-star text-yellow" data-empty="fa fa-star-o text-yellow" data-readonly value="4.5"/></h3>
                      <div class="clearfix">
                        <span class="pull-left">教學方式<input type="hidden" class="rating" data-filled="fa fa-star text-blue" data-empty="fa fa-star-o text-blue" data-readonly value="4.5"/></span>
                        <small class="pull-right">90人</small>
                      </div>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                      </div>
                        <div class="clearfix">
                        <span class="pull-left">上課內容<input type="hidden" class="rating" data-filled="fa fa-star text-blue" data-empty="fa fa-star-o text-blue" data-readonly value="4.5"/></span>
                        <small class="pull-right">90人</small>
                      </div>
                      <div class="progress xs">
                        <div class="progress-bar bg-aqua" style="width: 90%;"></div>
                      </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer box-comments">
              <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="../dist/img/user3-128x128.jpg" alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        Maria Gonzales
                        <span class="text-muted pull-right"><input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-readonly value="4"/></span>
                      </span><!-- /.username -->
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
              <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="../dist/img/user5-128x128.jpg" alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        Nora Havisham
                        <span class="text-muted pull-right"><input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-readonly value="1"/></span>
                      </span><!-- /.username -->
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using
                  'Content here, content here', making it look like readable English.
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
              <form action="#" method="post">
                <img class="img-responsive img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="Alt Text">
                <!-- .img-push is used to add margin to elements next to floating images -->
                <div class="img-push">
                  <label>我要給</label>
                  <div class="form-group">
                    <label>教學方式：</label><input type="hidden" class="rating" data-filled="fa fa-star text-yellow" data-empty="fa fa-star-o"/>
                  </div>
                  <div class="form-group">
                  <label>上課內容：</label><input type="hidden" class="rating" data-filled="fa fa-star text-yellow" data-empty="fa fa-star-o"/>
                </div>
                  <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="請輸入評論 ..."></textarea>
                </div>
                <div class="checkbox pull-left">
                    <label>
                      <input type="checkbox">
                      隱身術
                    </label>
                  </div>
              <button type="submit" class="btn btn-info pull-right">發表</button>
                </div>
              </form>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


      </section>

<!-- jQuery 2.1.4 -->
<script src="../../dist/js/bootstrap-rating.min.js">
$('input').rating();
</script>
